<h1>Editing subscription plan</h1>

<%= render "form", subscription_plan: @subscription_plan %>

<br>

<div>
  <%= link_to "Show this subscription plan", @subscription_plan %> |
  <%= link_to "Back to subscription plans", subscription_plans_path %>
</div>
