<div id="<%= dom_id exercise_completition %>">
  <p>
    <strong>Load:</strong>
    <%= exercise_completition.load %>
  </p>

  <p>
    <strong>Checkin:</strong>
    <%= exercise_completition.checkin_id %>
  </p>

  <p>
    <strong>Exercise:</strong>
    <%= exercise_completition.exercise_id %>
  </p>

</div>
