<h1>New exercise completition</h1>

<%= render "form", exercise_completition: @exercise_completition %>

<br>

<div>
  <%= link_to "Back to exercise completitions", exercise_completitions_path %>
</div>
