<div id="<%= dom_id gym %>">
  <p>
    <strong>Name:</strong>
    <%= gym.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= gym.email %>
  </p>

  <p>
    <strong>Logo:</strong>
    <%= gym.logo %>
  </p>

</div>
