<div id="<%= dom_id examination %>">
  <p>
    <strong>Expiration:</strong>
    <%= examination.expiration %>
  </p>

  <p>
    <strong>Instructor:</strong>
    <%= examination.instructor_id %>
  </p>

  <p>
    <strong>Customer:</strong>
    <%= examination.customer_id %>
  </p>

</div>
