<div id="<%= dom_id measure %>">
  <p>
    <strong>Body part:</strong>
    <%= measure.body_part %>
  </p>

  <p>
    <strong>Value:</strong>
    <%= measure.value %>
  </p>

  <p>
    <strong>Examination:</strong>
    <%= measure.examination_id %>
  </p>

</div>
